// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #027BE3
$secondary = #26A69A
// $accent    = #9C27B0
$accent    = #1a174d

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

// Max width at which point
// current size ends
// $breakpoint-xs = 599px
// $breakpoint-sm = 1023px
// $breakpoint-md = 1439px
// $breakpoint-lg = 1919px
